<pre style="background-color:#ffffff;color:#000000;font-size:12.0pt;">
<span style="color:#808080;background-color:#f7faff;font-style:italic;"> [usage]
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   {{ baseurl }}/qrcode?d=[data]&amp;e=[(L,M,Q,H)]&amp;s=[int]&amp;v=[(1-40)]&amp;t=[(J,G)]&amp;size=[int]&amp;download=[filename]
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">         (&amp;m=[(1-16)]&amp;n=[(2-16)](&amp;p=[(0-255)],&amp;o=[data]))
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   d     = data          URL encoded data.
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   e     = ECC level          L or M or Q or H   (default M)
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   s     = module size     (dafault PNG:4 JPEG:8)
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   v     = version        1-40 or Auto select if you do not set.
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   t     = image type      J: jpeg image, G: GIF image, default: PNG image
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   size   = image size      Integer. Specifies the width &amp; height of the image. Default 400. Max 1480.
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   download = File name   URL encoded filename. If set, the content disposition will change to tell the browser to download the file.
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   raw  = rawurldecode the data. If set, the data in d will be URL decoded changing "%20" into " " etc.
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">  structured append  m of n (experimental)
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   n= structure append n (2-16)
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   m= structure append m (1-16)
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   p= parity
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">   o= original data (URL encoded data)  for calculating parity
</span><span style="color:#808080;background-color:#f7faff;font-style:italic;">
</span></pre>
